body{
    margin: 0;
    box-sizing: content-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
/* ------------------------------header---------------------------------------------------- */
.header{
    box-sizing: border-box;
    background-color: #1C1B23;
    padding: 0px 100px;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.menu{
    display: flex;
    gap: 150px;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 30px;
    transition: 0.2s;
    /* cursor: pointer; */
}
.menu-list label{
  color: white;
  cursor: pointer;
}
/* .menu-list:hover label{
  color: #DA0000;
} */
.menu-btn{
    padding: 18px 36px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.menu-btn:hover{
  background-color: #DA0000;
  color: white;
}
.menu-bar{
    display: none;
}
.container1{
    height: 110vh;
    width: 100%;
    background-image: url(https://preview.colorlib.com/theme/justlaw/assets/img/hero/h1_hero.jpg);
    position: relative;
    /* transform: translateY(70px); */
    background-color: blue;
    display: flex;
}

.container1 h2{
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 35px;
    color: #9C9C9C;
}
.container1 h1{
    position: absolute;
    left: 10%;
    top: 35%;
    font-size: 80px;
    color: #1B1C29;
}
.block{
    /* position: absolute; */
    height: 150px;
    width: 650px;

    align-self: end;
    background-color: #DA0000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 0; */
}
.block p{
    color: white;
    font-size: 20px;
}
.block span{
    font-size: 50px;
}

.playIcon{
    position: relative;
    left: 29%;
    top: 0%;
    border-radius: 50%;
    background-color: #fff;
    height: 50px;
    width: 50px; 
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.playIcon::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.302);
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 50%;
}

.front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
}
.front h1{
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 700;
    color: rgb(11, 28, 57);
}
.border-anime{
    height: 5px;
    width: 150px;
    background-color: red;
    border-radius: 3px;
    position: relative;
    
}
.small{
    height: 5px;
    width: 5px;
    background-color: #fff;
    position: absolute;
    animation: away 8s infinite;
}
@keyframes away {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
.dine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 15px;
    /* height: 70vh; */
}
.cart{
    background-color: #FCFCFC;
    position: relative;
    
}
.cart img{
    width: 100%;
}
.cart h2{
    padding-left: 30px;
    transition: 0.3s;
}
.cart p{
    padding: 0px 30px;
}
.cart i{
    /* border: 1px solid; */
    width: 60px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 123px;
    background-color: #fff;
    font-size: 25px;
    transition: 0.3s;
}
.cart:hover h2{
    color: red;
}
.cart:hover i{
    transform: translateY(10px);
    background-color: red;
    color: white;
}
.about{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #F5F5F5;
    position: relative;
    height: 120vh;
    width: 100%;
    /* flex-direction: column; */
}

.about h1{
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 50px;
    font-family: "Playfair Display", serif;
}
.anime{
    position: absolute;
    top: 30%;
    left: 17%;
}
.lorem{
    position: absolute;
    left: 10%;
    top: 38%;
    width: 28%;
    line-height: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.clients{
    display: flex;
    height: 150px;
    position: absolute;
    top: 60%;
    left: 10%;
    gap: 20px;
}
.clients p{
   /* border: 1px solid; */
   padding: 30px 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #fff;
   font-size: 18px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clients span{
    color: red;
    font-size: 45px;
    font-weight: 700;
}
.images1 img{
    position: absolute;
    top: 10%;
    left: 64%;
}
.images2 img{
    position: absolute;
    top: 15%;
    left: 45%;
    border: 15px solid #8f929461;
}
.form{
    background-image: url('https://preview.colorlib.com/theme/justlaw/assets/img/about/contact_bg.jpg');
    width: 100%;
    background-position: center;
    transform: translateY(-100px);
    
}
.form-div{
    height: 120vh;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: #fff;
    gap: 40px;
    margin-top: -10%;
    margin-bottom: 10%;
}
.form-div h1{
    font-size: 50px;
    font-weight: 700;
    font-family:  "Playfair Display", serif;
}
.name{
    display: flex;
    gap: 30px;
}
.form-div input, .form-div select{
    height: 50px;
    width: 240px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #F7F7F7;
    padding-left: 20px;
    font-weight: 700;
}
.form-div textarea{
    width: 500px;
    background-color: #F7F7F7;
    border: none;
    outline: none;
    padding: 30px 30px;
    font-size: 20px;
    border-radius: 4px;
}
.form-div button{
    width: 550px;
    height: 50px;
    border-radius: 4px;
    background-color: #DA0000;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}
.cases{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150vh;
  flex-direction: column;
  /* background-color: blue;  */
  transform: translateY(-28%);
}
.cases h1{
  font-size: 50px;
}
.border-anime2{
  height: 5px;
  width: 150px;
  background-color: red ;
  border-radius: 3px;
  margin: auto;
  position: relative;  
}
.small2{
  height: 5px;
  width: 5px;
  background-color: #fff;
  position: absolute;
  animation: away 8s infinite;
}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.list label{
  color: #AEAEB3;
  font-size: 20px;
}
.dine2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 20px;
}
.cart2{
  /* border: 1px solid; */
  background-color: #FCFCFC;
  overflow: hidden;
  position: relative;
}
.cart2 img{
  width: 100%;
  transition: 0.5s;
  
}
.cart2 span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 130px;
  /* border: 1px solid; */
  background-color: #fff;
  position: absolute;
  left: 60%;
  top: 48%;
}
.cart2 h2{
  font-size: 25px;
  padding: 0px 30px;
}
.cart2 p{
  font-size: 16px;
  padding: 0px 30px;
  line-height: 25px;
}
.cart2 h5{
  font-size: 16px;
  padding: 0px 30px;
  color: #9C9C9C;
  cursor: pointer;
  transition: 0.5s;
}
.cart2:hover img{
  transform: scale(1.1);
}
.cart2:hover h5{
  color: #DA0000;
}
.customers{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  background-image: url('https://preview.colorlib.com/theme/justlaw/assets/img/testmonial/testi_bg.png');
  /* background-color: green;  */
  transform: translateY(-56%); 
  flex-direction: column;
  color: white;
  /* gap: 30px; */
  
}
.customers h1{
  font-size: 50px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.customers p{
  text-align: center;
  width: 45%;
  margin: auto;
  line-height: 30px;
  margin-top: 40px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.customers img{
  display: flex;
  align-self: center;
  margin: auto;
  margin-top: 40px;
}
.customers h5{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dots{
  text-align: center;
  font-size: 50px;
}
/* ------------------------------------------------------Teams-------------------------------------- */
.team{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* background-color: green; */
  transform: translateY(-60%);

}
.team h1{
  font-size: 50px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.mates{
  display: flex;
  gap: 35px;
  margin-top: 50px;
  color: #5A5D60;
}
.mates-cart h2{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}
.mates-cart h5{
  text-align: center;
  font-size: 16px;
}
.mates-cart h2:hover{
  color: #DA0000;
}
.get-started{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 320px;
  background-color: #DA0000;
  transform: translateY(-120%);
  color: white;
  height: 250px;
}
.get-started h1{
  font-size: 40px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.get-started p{
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}
.get-started button{
  height: 60px;
  width: 180px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #DA0000;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  transition: 0.5s;
}
.get-started button:hover{
  background-color: #010B1D;
  color: white;
}
.footer{
  height: 60vh;
  transform: translateY(-95%);
  background-color: #010B1D;
  color: #B0B0B1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
}
.footer-div{
  height: 60vh;
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 60px;
  width: 80%;
  margin: auto;
  
}
.f-logo{
  width: 25%;
  height: 30vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid; */
  gap: 20px;
}
.f-logo p{
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(180,180,180);
  line-height: 20px;
}
.icons{
  display: flex;
  gap: 10px;
}
.icons i{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: 0.5s;
}
.icons i:hover{
  background-color: #DA0000;
  color: white;
}
.company{
  height: 30vh;
  /* border: 1px solid white; */
}
.company h2{
  font-size: 18px;
  font-weight: 500;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 40px;
}
.company h6{
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  transition: 0.5s;
}
.company h6:hover{
  color: #DA0000;
  transform: translateX(10px);
  cursor: pointer;
}
.services{
  height: 30vh;
  /* border: 1px solid white; */
}
.services h2{
  font-size: 18px;
  font-weight: 500;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 40px;
}
.services h6{
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  transition: 0.5s;
}
.services h6:hover{
  color: #DA0000;
  transform: translateX(10px);
  cursor: pointer;
}
.news{
  height: 30vh;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news h2{
  font-size: 18px;
  color: white;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* margin-left: 40px; */
}
.news p{
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  margin-right: 52%;
}
.news input{
  height: 50px;
  width: 350px;
  padding-left: 20px;
  outline: none;
  border: none;
}
.news button{
  height: 50px;
  width: 374px;
  background-color: #DA0000;
  color: white;
}
.footer p{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
}
.copy{
  transform: translateY(-100%);
}
@media (max-width: 600px) {
  /* -------------------------------header---------------------------------- */
.header{
  padding: 0px 20px;
}
.menu{
  display: none;
}
.menu-bar{
  display: flex;
  color: white;
  background-color: black;
  padding: 12px;
  gap: 8px;
  font-size: 20px;
}
/* --------------------------------intro---------------------------------- */
.container1{
  background-image: none;
  background: #fff;
  height: 60vh;
}
.container1 h2{
  top: 110px;
  font-size: 25px;
}
.container1 h1{
  top: 170px;
  font-size: 30px;
}
.block{
  width: 80%;
  height: 120px;
}
.block p{
  font-size: 15px;
}
.block span{
  font-size: 37px;
}

/* -------------------------------front----------------------------------- */
.front{
 transform: translateY(10%);
}
.front h1{
  text-align: center;
  font-size: 45px;
}
.dine{
  flex-direction: column;
}
/* ------------------------------About-------------------------------- */
.about{
  transform: translateY(20%);
}
.about h1{
  font-size: 40px;
}

.lorem{
  width: 90%;
}
.clients{
  width: 60%;
}
.images1 img{
  display: none;
}
.images2 img{
  left: 5px;
  top: 80%;
  height: 400px;
  width: 90%;
}
/* -------------------------------------------Form------------------------------- */
.form{
  transform: translateY(40%);
}
.form-div{
  width: 90%;
}
.form-div h1{
  text-align: center;
  font-size: 45px;
}
.name{
  flex-direction: column;
}
.form-div textarea{
  width: 60%;
}
.form-div button{
  width: 60%;
}
/* -------------------------------------------Cases------------------------------ */
.cases{
  transform: translateY(50%);
 }
 .cases h1{
   text-align: center;
   font-size: 47px;
 }
 .list{
  text-align: center;
 }
 .dine2{
   flex-direction: column;
 }
 .cart2 span{
  top: 40%;
 }
 /* ------------------------------------------Customers------------------------------------ */
 .customers{
  transform: translateY(90%);
 }
 .customers h1{
  text-align: center;
  font-size: 45px;
 }
 .customers p{
  width: 80%;
 }
 /* --------------------------------------------Teams------------------------------------- */
.team{
  transform: translateY(50%);
  flex-direction: column;
}
.mates{
  flex-direction: column;
}
/* -----------------------------------------------Get Started------------------------------ */
.get-started{
  transform: translateY(180%);
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  height: 50vh;
  padding: 0px 15px;
}
.get-started h1{
  font-size: 25px;
}
.footer{
  transform: translateY(50%);
  height: 150vh;
}
.footer-div{
  transform: translateY(80%);
  flex-direction: column;
}
.f-logo{
  width: 100%;
}
.company{
  width: 100%;
  margin-right: 70px;
}
.services{
  width: 100%;
  margin-right: 70px;
}
.news{
  width: 100%;

}
.news input{
  width: 300px;
}
.news button{
  height: 50px;
  width: 325px;
  background-color: #DA0000;
  color: white;
}
.copy{
  position: absolute;
  bottom: 0;
  transform: translateY(25%);
}

}



